<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
   
    <title>Shop Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop Page</a></li>
                <li><a href="/admin/add-product">AddProduct Page</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <h1>404 Page not Found</h1>
       <p>Please check the url is correct</p>
    </main>
</body>
</html>