<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
   
    <title>Add Product</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
   
</style>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop Page</a></li>
                <li><a href="/admin/add-product">Add Product Page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/add-product" method="post">
            <input type="text" name="title" placeholder="Enter the title" />
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>